/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  display: block;
  margin: auto;
  width: 40%;
}

.todos {
  &__title-input {
    @extend .col-sm-8;
    padding-left: 0;
  }

  &__grid {
    @extend .col-sm-10;
    padding-left: 0;
  }

  &__row {
    border: 1px solid lightgrey;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 5px;

    & label {
      font-weight: normal;
    }
  }
}

.todos__checkbox {
  // Reference: https://robots.thoughtbot.com/you-don-t-need-javascript-for-that
  cursor: pointer;
  position: relative;

  //Tooltip text container - above element
  //You can adjust the position to make the container appear below or beside the element
  &::before {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label); //This pulls in the text from the element with the tooltip
    left: -180px; //This centers the container above the element
    padding: 1rem;
    position: absolute;
    text-transform: none;
    top: -15px; //This places the container above the element that needs a tooltip
    transition: all 0.5s ease;
    width: 160px;
  }

  //Tooltip arrow
  //You can adjust the position of this to align nicely with the element that
  //needs a tooltip. You can also use `transform` to rotate it to make the
  //tooltip work below or next to the element.
  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: " ";
    font-size: 0;
    left: -15px; //This centers the arrow above the element with the tooltip
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    width: 0;
    transform: rotate(0.75turn);
  }

  //Setting up the transition
  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
  }

  //Triggering the transition
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}

input[type='checkbox'] {
  margin-left: 10px;
  margin-right: 10px;
}
